<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/for_informations.css') }}">
</head>
<body>
  <div id = "content">
    <h1>Futures</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, optio quos accusamus. Vel nulla quas distinctio ullam aliquid nisi eos sint quae explicabo, similique, voluptates sunt maiores ab, repellat aspernatur! Earum vitae nostrum repellendus sed neque odit veritatis dignissimos cumque reiciendis incidunt, esse alias eaque dolorem ducimus aliquam temporibus perspiciatis. Perferendis eveniet iure maiores consectetur ullam cum fuga, eos quibusdam. Quasi molestiae mollitia ipsum voluptatem tempore eum maxime unde quam aliquam similique nostrum quisquam voluptatum beatae numquam modi, quidem ipsa. Quis, vel, in. Repellat, voluptatum, tempora. Nam voluptatibus, officiis temporibus cum vel enim provident eum ipsam, earum dolore harum ipsum?</p>
         <img src="https://cdn.pixabay.com/photo/2016/06/26/23/32/contract-1481586_960_720.png" alt="">
  </div>
</body>
</html>
