<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Team</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
</head>
<body>
	<div class="card__collection clear-fix">
	  <div class="cards cards--two">
	    <img src="https://i.ibb.co/Y0WBt1P/IMG-20190328-233502-352.jpg" class="img-responsive" alt="Cards Image">
	    <span class="cards--two__rect"></span>
	    <span class="cards--two__tri"></span>
	    <p>
	      Alan Latte
	    </p>
	    <ul class="cards__list">
	      <li><a href="https://t.me/Alanlatte/"><i class="fab fa-telegram-plane"></i></a></li>
	      <li><a href="https://twitter.com/Alan69084543"><i class="fab fa-twitter"></i></a></li>
	      <li><a href="https://www.instagram.com/alan.latte12"><i class="fab fa-instagram"></i></a></li>
	      <li><a href="https://vk.com/alan.latte"><i class="fab fa-vk"></i></a></li>
	    </ul>
	  </div>
		<div class="cards cards--two">
			<img src="https://i.ibb.co/gw7tvsz/photo-2019-05-22-00-25-13.jpg" class="img-responsive" alt="Cards Image">
			<span class="cards--two__rect"></span>
			<span class="cards--two__tri"></span>
			<p>
				Lemurr
			</p>
			<ul class="cards__list">
				<li><a href="https://t.me/King_Lemurr/"><i class="fab fa-telegram-plane"></i></a></li>
				<li><a href="https://www.instagram.com/lemur.king.of.the.jungle"><i class="fab fa-instagram"></i></a></li>
			</ul>
		</div>


	</div>

</body>
</html>
